body {
display: flex;
min-height: 100vh;
flex-direction: column;
}

main {
flex: 1 0 auto;    
background-color: #fffbf5;
}

/*********************** header */

header {
    background-color: #ed8c72;
}

.sidenav {
    background-color: rgb(255, 251, 245);
}

.navbar-fixed .brand-logo,
nav a,
nav ul a,
.sidenav h3 {
    color: #fafafa;
}

/*********************** sidenav */

h3 {
    margin-top: 30px;
    margin-bottom: 30px;
}

/*********************** search panel */

.search-panel {
    background-color: #f4eade;
}

h6 {
    font-weight: 500;
}

.hp-card-content {
    background-color: #fafafa;
}

.blue-grey.darken-1 {
    background-color: #2f496e !important;
}

/* buttons */
.green  {
    background-color: #2988bc !important;
}

.red {
    background-color: #f4e !important;
}

.blue.accent-4 {
    background-color: #2988bc !important;
}

.red.accent-4 {
    background-color: #f4e !important;
}

.green.accent-4 {
    background-color: #2988bc !important;
}

/*********************** footer */

.page-footer {
    background-color: #ff9e80;
}

.social-media ul li a {
    color: #2988bc;
}

.copyright-row {
    margin-bottom: 0;
    text-align: center;
}

/************************ if the screen size is 480px or less */
@media screen and (max-width: 480px) {

    /*********************** flash message */

    .flash-message h4 {
        font-size: 20px;
    }

    /*********************** navbar */

     nav .brand-logo {
        font-weight: 600;
    }

    .sidenav {
        background-color: rgb(255 158 128);
        width: 280px;
    }

    .sidenav h3 {
        color: #fafafa;
        font-weight: 600;
    }

    .sidenav li>a {
    color: #fafafa;
    display: block;
    font-size: 16px;
    font-weight: 400;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
    }

    /*********************** recipes page */
    .recipes-header h1 {
        font-size: 32px;
    }

    .valign-wrapper {
        display: block;
    }

    .search-panel {
        margin: 30px 10px;
    }

    .recipe-card {
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .recipe-card .card-image img {
        width: 100%;
        height: 220px;
    }

    .recipe-card .card-content {
        height: 220px;
    }

    .recipe-card .card .card-content .row {
        margin-bottom: 10px;
    }

    .home-pg-card-btn {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    /************************ profile */

    .profile-pg-user {
        margin-top: 50px;
        margin-bottom: 10px;
    }

    /************************ view-recipe */
    .view-recipe-header h1 {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 28px;
        text-align: center;
    }

    .view-recipe-img {
        text-align: center;
    }

    .view-recipe-img img {
        width: 100%;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .view-recipe-text-row {
        margin-left: 10px;
        margin-right: 10px;
    }

    #cook-time {
        padding-left: 5px;
        padding-right: 5px;
    }

    #prep-time {
        padding-right: 5px;
    }

    #serves {
        padding-left: 5px;
    }

    .view-recipe-instruction h2,
    .view-recipe-ingredients h2 {
        font-size: 18px;
        font-weight: bold;
    }

    .view-recipe-ingredients p {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .view-recipe-btn-row {
        margin-bottom: 50px;
    }

    .view-recipe-buttons {
        text-align: center;
    }

    /************************ edit-recipe */
    .edit-recipe-header h2 {
        font-size: 32px;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .edit-form-row {
        margin: 20px 10px;
    }

    textarea {
        height: 6rem;
    }

    /************************ add-recipe */

    .input-field.col label {
        left: .99rem;
    }

    .add-recipe-header h2 {
        font-size: 32px;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .add-recipe-form {
        margin-bottom: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }

     /************************ add and edit recipe for labels */    

    .input-field .ingredient-label {
        top: -5px;
    }

    .input-field .instruction-label {
        top: -5px;
    }

    .input-field.col label {
    left: 1rem;
    } 

    /************************ manage categories */

    .add-category-btn {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    /************************ add category */

    .add-category-form-row {
        margin-top: 40px;
        margin-bottom: 70px;
        margin-left: 10px;
        margin-right: 10px;
    }

    /************************ edit category */

    .edit-category-form-row {
        margin-top: 40px;
        margin-bottom: 70px;
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 35px;
        padding-bottom: 35px;
    }

    /************************ footer */

    footer .valign-wrapper {
        display: inline-flex;
    }

    .social-media {
        text-align: center;
    }

    .social-media ul li {
        margin-right: 10px;
        margin-left: 10px;
    }

    .copyright-row {
        padding-bottom: 30px;
        padding-top: 10px;
    }

    .social-media-row {
        margin-bottom: 0px;
    }

}

/************************ if the screen size 768px or more */
@media screen and (min-width: 768px) {

      /*********************** navbar */

     nav .brand-logo {
        font-weight: 600;
        font-size: 3.1rem;
    }

    .sidenav {
        background-color: rgb(255 158 128);
        width: 350px;
    }

    .sidenav h3 {
        color: #fafafa;
        font-weight: 600;
    }

    .sidenav li>a {
    color: #fafafa;
    display: block;
    font-size: 1.7rem;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
    }

    .fas.fa-bars {
        font-size: 2.5rem;
    }

    /************************ recipes */
    .recipes-header h1 {
        margin-bottom: 30px;
    }

    .search-panel {
        margin-top: 30px;
        margin-bottom: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .recipe-card {
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .recipe-card .card-image img {
        width: 100%;
        height: 200px;
    }

    .recipe-card .card-content {
        height: 220px;
        padding: 15px;
    }

    .recipe-card .card .card-content .row {
        margin-bottom: 10px;
    }

    .home-pg-card-btn {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    /************************ profile */

    .profile-pg-user {
        margin-top: 50px;
        margin-bottom: 10px;
    }

    /************************ view-recipe */
    .view-recipe-header h1 {
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
        font-size: 4rem;
    }

    .view-recipe-instruction h2,
    .view-recipe-ingredients h2 {
        font-size: 2rem;
    }

    .view-recipe-img {
        text-align: center;
    }

    .view-recipe-img img {
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        max-width: 500px;
        height: auto;
    }

    #info-time-row {
        max-width: 500px;
    }

    .view-recipe-text-row {
        margin-left: 25px;
        margin-right: 25px;
    }

    .view-recipe-buttons {
        text-align: left;
    }

    .view-recipe-btn-row {
        margin-bottom: 50px;
        margin-left: 25px;
    }


    /************************ profile */

    .profile-card-time-info #prep {
        padding-left: 5px;
        padding-right: 5px;
    }

    .profile-card-time-info #serves {
        padding-left: 5px;
        padding-right: 5px;
    }

    .profile-card-time-info #cook {
        padding-left: 5px;
        padding-right: 5px;
    }

    /************************ add recipe */

    .add-recipe-header h2 {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .add-recipe-form {
        margin-bottom: 50px;
        margin-left: 100px;
        margin-right: 100px;
    }

    textarea {
        height: 6rem;
    }

    /************************ edit recipe */

    .edit-recipe-header h2 {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .edit-form-row {
        margin-bottom: 50px;
        margin-left: 100px;
        margin-right: 100px;
    }

     /************************ add and edit recipe for labels */    

    .input-field .ingredient-label {
        top: -5px;
    }

    .input-field .instruction-label {
        top: -5px;
    }

    .input-field.col label {
    left: 1rem;
    } 

    /************************ categories */

    .categories-header-row {
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .add-category-btn-row {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .categories-row {
        margin-bottom: 80px;
    }

    /************************ add category */

    .add-category-header-row {
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .add-category-form-row {
        margin-top: 130px;
        margin-bottom: 190px;
        margin-left: 100px;
        margin-right: 100px;
        padding-top: 50px;
        padding-bottom: 50px;

    }

    .add-category-form-row .row .input-field input {
        font-size: 25px;
    }

    /************************ edit category */

    .edit-category-row {
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .edit-category-form-row {
        margin-top: 130px;
        margin-bottom: 190px;
        margin-left: 100px;
        margin-right: 100px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .edit-category-form-row .row .input-field input {
        font-size: 25px;
    }

    /************************ login */
    .flash-message h4 {
        margin-top: 20px;
    }

    .login-page-row {
        margin-top: 30px;
    }

    .login-header {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .login-header h3 {
        font-size: 60px;
    }

    .login-form-row {
        margin-bottom: 100px;
        margin-top: 100px;
    }

    .register-link-row {
        margin-bottom: 20px;
    }

    .register-link-row .s12 p {
        font-size: x-large;
    }

    main .container {
        padding-top: 10px;
        padding-bottom: 15px;
    }

    .login-form-row .card-panel {
        margin-top: 7px;
        margin-bottom: 14px;
    }

    /************************ register */

    .register-header-row {
        margin-top: 30px;
    }

    .register-header h3 {
        font-size: 60px;
    }

    .register-form-row {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .login-link p {
        font-size: x-large;
    }


    /************************ footer */

    .social-media-row {
        padding-top: 20px;
        padding-bottom: 20px;
        
    }

    .social-media ul {
        justify-content: center;
    }

    .copyright-row {
        padding-bottom: 30px;
    }

    .social-media ul li {
        margin-right: 10px;
        margin-left: 10px;
    }

}

/* if the screen size 1024px or more */
@media screen and (min-width: 1024px) {
    
    /************************ recipes */

    nav .brand-logo {
        padding-left: 25px;
        font-weight: 600;
    }

    nav ul {
        font-weight: 600;
    }

    .recipes-header {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .search-panel {
        margin-left: 80px;
        margin-right: 80px;
    }

    .recipes-row {
        margin: 100px 10px;
        padding: 30px 10px;
    }

    .hp-card-content .home-pg-prep-time {
        padding-right: 0px;
    }

    /************************ profile */

    .profile-pg-user {
        margin-top: 80px;
    }

    .recipes-row {
        margin-top: 30px;
    }

    /************************ view recipes */

    .view-recipe-header h1 {
        margin: 30px;
        padding: 20px 20px;
    }

    .view-recipe-text-row {
        margin-left: 35px;
        margin-right: 35px;
    }

    .view-recipe-ingredients {
        margin-top: 50px;
    }

    .view-recipe-instruction {
        margin-top: 50px;
        margin-bottom: 0px;
    }

    .view-recipe-btn-row {
        margin-bottom: 50px;
    }

    /************************ add recipes */

    .add-recipe-header {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .add-recipe-form {
        margin-top: 90px;
        margin-bottom: 90px;
    }

    /************************ edit recipes */

    .edit-recipe-header {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .edit-form-row {
        margin-top: 90px;
        margin-bottom: 90px;
    }

    /************************ manage categories */

    .categories-row {
        margin-top: 100px;
        margin-bottom: 100px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    /************************ add category */

    .add-category-form-row {
        margin-top: 270px;
        margin-bottom: 350px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .add-category-form-row .btn-large {
        margin-top: 30px;
    }

    /************************ edit category */

    .edit-category-form-row {
        margin-top: 270px;
        margin-bottom: 350px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #edit-category-btn-row {
        margin-top: 40px;
        margin-bottom: 30px;
    }

    /************************ login */

    .login-page-row {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .login-form-row {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .login-form-row form .card-panel {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .register-link-row {
        margin-bottom: 50px;
    }

    /************************ register */

    .register-header-row {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .register-form-row {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .register-form-row form .card-panel {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .login-link {
        margin-bottom: 50px;
    }

}

/* if the screen size 1201px or more */
@media screen and (min-width: 1201px) {

    /************************ recipes */

    .search-panel {
        margin-left: 120px;
        margin-right: 120px;
    }

    .recipes-row {
        margin-left: 100px;
        margin-right: 100px;
    }

    /************************ profile */

    .profile-card-time-info #prep {
        padding-left: 5px;
        padding-right: 0px;
    }

    .profile-card-time-info #serves {
        padding-left: 0px;
        padding-right: 0px;
    }

    .profile-card-time-info #cook {
        padding-left: 0px;
        padding-right: 5px;
    }

    /************************ add recipe */

    .add-recipe-form {
        margin-left: 150px;
        margin-right: 150px;
        padding: 40px;
    }

    /************************ edit recipe */

    .edit-form-row {
        margin-left: 150px;
        margin-right: 150px;
        padding: 40px;
    }

    /************************ add and edit recipe for labels */    

    .input-field .ingredient-label {
        top: -5px;
    }

    .input-field .instruction-label {
        top: -5px;
    }

    .input-field.col label {
    left: 1rem;
    }    

    /************************ single recipe */

    .view-recipe-instruction {
        margin-top: 50px;
        margin-bottom: 0px;
    }

    .view-recipe-text-row {
        margin-left: 50px;
        margin-right: 50px;
    }

    .view-recipe-btn-row {
        margin-left: 50px;
    }

    /************************ login */

    .login-page-row {
        padding-top: 30px;
        margin: 0px;
    }

    .login-form-row form .card-panel {
        margin-bottom: 0px;
    }

    .login-form-row {
        margin: 0px;
        padding: 0px;
    }

    /************************ register */

    .register-header-row {
        padding-top: 30px;
        margin: 0px;
    }

    .register-form-row form .card-panel {
        margin-bottom: 0px;
    }

    .register-form-row {
        margin: 0px;
        padding: 0px;
    }


}