body {
    margin: 0;
    padding: 0;
}

h3 {
    margin-top: 30px;
    margin-bottom: 30px;
}

/*********************** footer */

footer {
    background-color: #ee6e73;
}

.copyright-row {
    margin-bottom: 0;
    text-align: center;
}

/* if the screen size is 480px or less */
@media screen and (max-width: 480px) {

    /*********************** flash message */

    .flash-message h4 {
        font-size: 25px;
    }

    /*********************** recipes page */
    .recipes-header h1 {
        font-size: 32px;
    }

    .valign-wrapper {
        display: block;
    }

    .search-panel {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .recipe-card {
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .recipe-card .card-image img {
        width: 100%;
        height: 220px;
    }

    .recipe-card .card-content {
        height: 220px;
    }

    .recipe-card .card .card-content .row {
        margin-bottom: 10px;
    }

    .home-pg-card-btn {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    /************************ view-recipe */
    .view-recipe-header h1 {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 28px;
        text-align: center;
    }

    .view-recipe-img {
        text-align: center;
    }

    .view-recipe-img img {
    width: 100%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    }

    .view-recipe-instruction h2,
    .view-recipe-ingredients h2 {
        font-size: 18px;
        font-weight: bold;
    }

    .view-recipe-buttons {
        text-align: center;
    }

    /************************ edit-recipe */
    .edit-recipe-header h2 {
        font-size: 32px;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    textarea {
        height: 6rem;
    }

    /* .input-field > label {
        font-size: 1.3rem;
    } */

    /************************ add-recipe */

    .input-field.col label {
    left: .99rem;
    }

    .add-recipe-header h2 {
        font-size: 32px;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .add-recipe-form {
        margin-bottom: 30px;
    }


    /************************ manage categories */

    .add-category-btn {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    /************************ add category */

    .add-category-form-row {
        margin-top: 40px;
        margin-bottom: 70px;
    }

    /************************ edit category */

    .edit-category-form-row {
        margin-top: 40px;
        margin-bottom: 70px;
        padding-top: 35px;
        padding-bottom: 35px;
    }

    /************************ footer */

    footer .valign-wrapper {
        display: inline-flex;
    }

    .social-media {
        text-align: center;
    }

    .social-media ul li {
        margin-right: 10px;
        margin-left: 10px;
    }

    .copyright-row {
        padding-bottom: 30px;
        padding-top: 10px;
    }

    .social-media-row {
        margin-bottom: 0px;
        padding-top: 30px;
    }

} 

/* if the screen size 768px or more */
@media screen and (min-width: 768px) {

    /************************ recipes */
    .recipes-header h1 {
        margin-bottom: 30px;
    }

    .search-panel {
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .recipe-card {
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .recipe-card .card-image img {
        width: 100%;
        height: 200px;
    }

    .recipe-card .card-content {
        height: 220px;
        padding: 15px;
    }

    .recipe-card .card .card-content .row {
        margin-bottom: 10px;
    }

    .home-pg-card-btn {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    /************************ view-recipe */
    .view-recipe-header h1 {
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
        font-size: 4rem;
    }

    .view-recipe-instruction h2,
    .view-recipe-ingredients h2 {
        font-size: 2rem;
        /* font-weight: bold; */
    }

    .view-recipe-img img {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .view-recipe-buttons {
        text-align: left;
    }

    .view-recipe-btn-row {
        margin-bottom: 50px;
    }
		


    /************************ add recipe */

    .add-recipe-header h2 {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .add-recipe-form {
        margin-bottom: 50px;
    }

    textarea {
        height: 6rem;
    }

    /************************ edit recipe */

    .edit-recipe-header h2 {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .edit-form-row {
        margin-bottom: 50px;
    }

    /************************ categories */

    .categories-header-row {
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .add-category-btn-row {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .categories-row {
        margin-bottom: 80px;
    }

    /************************ add category */

    .add-category-header-row {
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .add-category-form-row {
        margin-top: 130px;
        margin-bottom: 190px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .add-category-form-row .row .input-field input {
        font-size: 25px;
    }

    /************************ edit category */

    .edit-category-row {
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .edit-category-form-row {
        margin-top: 130px;
        margin-bottom: 190px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .edit-category-form-row .row .input-field input {
        font-size: 25px;
    }

    /************************ login */
    .flash-message h4 {
        /* margin-bottom: 20px; */
        margin-top: 20px;
    }

    .login-page-row {
        margin-top: 30px;
    }

    .login-header {
        /* was 20px */
        padding-top: 30px;      
        padding-bottom: 30px;
    }

    .login-header h3 {
         font-size: 60px;
    }

    .login-form-row {
        margin-bottom: 100px;
        margin-top: 100px;
        /* was top 50px */
    }

    .register-link-row {
        margin-bottom: 20px;
        /* was 55px */
    }

    .register-link-row .s12 p {
        font-size: x-large;
    }

    main .container {
        padding-top: 10px;
        padding-bottom: 15px;
    }

    .login-form-row .card-panel {
        margin-top: 7px;
        margin-bottom: 14px;
    }

    /************************ register */

    .register-header-row {
        margin-top: 30px;
    }

    .register-header h3 {
        font-size: 60px;
    }

    .register-form-row {
        margin-top: 100px;
        margin-bottom: 100px;        
    }

    .login-link p {
        font-size: x-large;
    }


    /************************ footer */

    .social-media-row {
        margin-top: 0px;
        padding-top: 30px;
        margin-bottom: 0px;
    }

    .social-media ul {
        justify-content: center;
    }

    .social-media ul li i {
        /* font-size: 45px; */
    }

    .copyright-row {
        padding-bottom: 30px;
    }

    .social-media ul li {
        margin-right: 10px;
        margin-left: 10px;
    }
    
}
