body {
    margin: 0;
    padding: 0;
}


@media screen and (max-width: 480px) {

    .view-recipe-header h1 {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 28px;
        text-align: center;
    }

    .view-recipe-img {
        text-align: center;
    }

    .view-recipe-img img {
    width: 100%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    }

    .view-recipe-instruction h2,
    .view-recipe-ingredients h2 {
        font-size: 18px;
        font-weight: bold;
    }

    

} 