{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 edit-recipe-header">
            <h2 class="center-align">{{ page_title }}</h2>
        </div>
    </div>

    <div class="row card-panel grey lighten-5 edit-form-row">
        <form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
            <div class="row">
                <div class="input-field col s12">
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled>Choose Category</option>
                        {% for category in categories %}
                            {% if category.category_name == recipe.category_name %}
                                <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                            {% else %}
                                <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label for="category_name">Recipe Category</label>
                </div>
            </div>
            <!-- recipe name -->
            <div class="row">
                <div class="input-field col s12">
                    <!-- <i class="fas fa-user-circle prefix"></i> -->
                    <input id="recipe_name" name="recipe_name" minlength="5" maxlength="50" value="{{ recipe.recipe_name }}" type="text" class="validate" required>
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>  
            <!-- ingredients list   -->
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="ingredients_list" name="ingredients_list" minlength="5" maxlength="1000" class="validate"
                        class="materialize-textarea" required>
                        {% for ingredient in recipe.ingredients_list -%}
                            {{ ingredient|trim }}
                        {% endfor -%}
                    </textarea>
                    <label for="ingredients_list">Ingredients List</label>
                </div>
            </div>
            <!-- instructions -->
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="instructions" name="instructions" minlength="5" maxlength="3000" class="validate"
                        class="materialize-textarea" required>
                        {% for instruction in recipe.instructions -%}
                            {{ instruction|trim }}
                        {% endfor -%}
                    </textarea>                                                                          
                    <label for="instructions">Instructions</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="recipe_img" name="recipe_img" type="url" minlength="5" maxlength="300" value="{{ recipe.recipe_img }}" class="validate" required>
                    <label for="recipe_img">Image URL</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <!-- <i class="material-icons prefix"></i> -->
                    <input id="prep_time" name="prep_time" type="number" value="{{ recipe.prep_time }}" class="validate" required>
                    <label for="prep_time">Preparation Time</label>
                </div>
            </div>
            <!-- <div class="row">
                <div class="input-field col s12">
                    <p>
                        <label>
                            <input type="checkbox" />
                            <span>Owen</span>
                        </label>
                    </p>
                </div>
            </div> -->
            <div class="row edit-pg-btn">
                <div class="col s12 center-align">
                    <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}" class="btn-large edit-cancel-btn red">
                        Cancel <i class="fas fa-times-circle right hide-on-med-and-down"></i></a>
                    <button type="submit" class="btn-large edit-submit-btn">
                        Edit Recipe <i class="fas fa-edit right hide-on-med-and-down"></i>
                    </button>
                </div>
            </div>
         </form>
     </div>

{% endblock %}