{% extends "base.html" %}
{% block content %}

    <div class="row">    
        <div class="col s12 m12 view-recipe-header">
            <h1>{{ recipes.recipe_name }}</h1>
        </div>
    </div>
    <div class="row">
         <div class="col s12 center-align">
            <p><i class="fas fa-concierge-bell"></i> {{ recipes.category_name }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 view-recipe-img">
            <img src="{{ recipes.recipe_img }}">
        </div>
    </div>
    <div class="row" id="info-time-row">
        <div class="col s4 center-align" id="prep-time">
            <p><i class="fas fa-hourglass-start hide-on-small-only"></i> <strong>Prep:</strong> {{ recipes.prep_time }} min</p>
        </div>
        <div class="col s4 center-align" id="cook-time">
            <p><i class="fab fa-gripfire hide-on-small-only"></i> <strong>Cook:</strong> {{ recipes.cook_time }} min</p>
        </div>
        <div class="col s4 center-align" id="serves">
            <p><i class="fas fa-user-friends hide-on-small-only"></i> <strong>Serves:</strong> {{ recipes.serves }}</p>
        </div>
    </div>
    <div class="row view-recipe-text-row">
        <div class="col s12 m12 l4 xl4 view-recipe-ingredients">
            <h2>Ingredients List: <i class="fas fa-tasks left hide-on-small-only"></i></h2>
            {% for ingredients in recipes.ingredients_list %}
                <p>{{- ingredients -}}</p>
            {% endfor %}
        </div>
        <div class="col s12 m12 l8 xl8 view-recipe-instruction">
            <h2>Instruction: <i class="fas fa-chalkboard-teacher left hide-on-small-only"></i></h2>
            {% for instructions in recipes.instructions %}
                <p>{{ instructions }}</p>
            {% endfor %}
        </div>
    </div>
    <div class="row view-recipe-btn-row">
        <div class="col s12 m12 view-recipe-buttons">
            {% if session.user|lower == recipes.created_by|lower or session.user|lower == "admin"|lower %}
                <a href="{{ url_for('edit_recipe', recipe_id=recipes._id) }}" class="btn-small green accent-4">Edit <i class="fas fa-edit right hide-on-med-and-down"></i> </a>
                <a href="#modal1" class="btn-small red accent-4 del modal-trigger">Delete <i class="fas fa-times right hide-on-med-and-down"></i></a> 
                <a href="{{ url_for('get_recipes') }}" class="btn-small blue accent-4">
                            Home <i class="fas fa-home right hide-on-med-and-down"></i></a>
            {% endif %}
        </div>
    </div>

     <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Delete recipe <strong>{{ recipes.recipe_name }}</strong> ?</h4>
            <p>The recipe will be deleted from the page.</p>
        </div>
        <div class="modal-footer">
            <a href="{{ url_for('delete_recipe', recipe_id=recipes._id) }}"
                class="modal-close waves-effect waves-green btn-flat">Agree</a>
            <a href="" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>

{% endblock %}

